In [50]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
attacks = pd.read_csv("./attacks.csv")
attacks.columns = attacks.columns.str.rstrip()
display(attacks)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
attacks.isnull()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25719,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25720,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25721,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25722,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [53]:
attacks = attacks.fillna(0)
display(attacks)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,0,0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,...,0,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,0,0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,0,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
25719,0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
25720,0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
25721,0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0
25722,xx,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0

In [54]:
attacks.Country.value_counts()

0                           19471
USA                          2229
AUSTRALIA                    1338
SOUTH AFRICA                  579
PAPUA NEW GUINEA              134
                            ...
ADMIRALTY ISLANDS               1
AFRICA                          1
IRELAND                         1
DIEGO GARCIA                    1
Between PORTUGAL & INDIA        1
Name: Country, Length: 213, dtype: int64

In [55]:
attacks.Species.value_counts()

0                                                     22259
White shark                                             163
Shark involvement prior to death was not confirmed      105
Invalid                                                 102
Shark involvement not confirmed                          88
                                                      ...
4.9 m white shark                                         1
Bull shark, 2 m                                           1
Tiger shark, less than 10'                                1
4' to 8' shark                                            1
White shark, 4.3 m [14']                                  1
Name: Species, Length: 1550, dtype: int64

In [56]:
attacks2 = attacks.drop(["Case Number", "Type", "Location", "Activity", "Name", "Sex", "Investigator or Source", "pdf", "href formula", "href", "Case Number.1", "Case Number.2", "original order", "Unnamed: 22", "Unnamed: 23"], axis = 1)
display (attacks2)

,Date,Year,Country,Area,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,USA,California,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,USA,Georgia,11,Minor injury to left thigh,N,14h00 -15h00,0
2,09-Jun-2018,2018.0,USA,Hawaii,48,Injury to left lower leg from surfboard skeg,N,07h45,0
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,0,Minor injury to lower leg,N,0,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Colima,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
25718,0,0.0,0,0,0,0,0,0,0
25719,0,0.0,0,0,0,0,0,0,0
25720,0,0.0,0,0,0,0,0,0,0
25721,0,0.0,0,0,0,0,0,0,0
25722,0,0.0,0,0,0,0,0,0,0

In [57]:
attacks2.columns = attacks2.columns.str.rstrip()
display(attacks2)

,Date,Year,Country,Area,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,USA,California,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,USA,Georgia,11,Minor injury to left thigh,N,14h00 -15h00,0
2,09-Jun-2018,2018.0,USA,Hawaii,48,Injury to left lower leg from surfboard skeg,N,07h45,0
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,0,Minor injury to lower leg,N,0,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Colima,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
25718,0,0.0,0,0,0,0,0,0,0
25719,0,0.0,0,0,0,0,0,0,0
25720,0,0.0,0,0,0,0,0,0,0
25721,0,0.0,0,0,0,0,0,0,0
25722,0,0.0,0,0,0,0,0,0,0

In [58]:
attacks2.Injury.value_counts()

0                                                                        19449
FATAL                                                                      802
Survived                                                                    97
Foot bitten                                                                 87
No injury                                                                   82
                                                                         ...
FATAL, died of sepsis                                                        1
Swimfin & knee bitten                                                        1
Chest bitten PROVOKED INCIDENT                                               1
Left knee bitten, but survived                                               1
No injury to occupants; shark seized gunwale & tried to overturn boat        1
Name: Injury, Length: 3738, dtype: int64

In [59]:
attack3 = attacks2.rename(columns={"Fatal (Y/N)": "Fatality"})
display(attack_data)

,Date,Year,Country,Area,Age,Injury,Fatality,Time,Species
0,25-Jun-2018,2018.0,USA,California,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,USA,Georgia,11,Minor injury to left thigh,N,14h00 -15h00,0
2,09-Jun-2018,2018.0,USA,Hawaii,48,Injury to left lower leg from surfboard skeg,N,07h45,0
3,08-Jun-2018,2018.0,AUSTRALIA,New South Wales,0,Minor injury to lower leg,N,0,2 m shark
4,04-Jun-2018,2018.0,MEXICO,Colima,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...
25718,0,0.0,0,0,0,0,0,0,0
25719,0,0.0,0,0,0,0,0,0,0
25720,0,0.0,0,0,0,0,0,0,0
25721,0,0.0,0,0,0,0,0,0,0
25722,0,0.0,0,0,0,0,0,0,0

In [60]:
attack3.Fatality.value_counts()

0          19960
N           4293
Y           1388
UNKNOWN       71
 N             7
y              1
M              1
2017           1
N              1
Name: Fatality, dtype: int64

In [ ]:
sns.countplot(x=attack3["Country"],hue=attack3["Species"])

In [62]:
deaths = attack3.groupby("Year")["Fatality"].value_counts()

In [63]:
deaths

Year    Fatality
0.0     0           19423
        N              64
        Y              60
        UNKNOWN         1
5.0     N               1
                    ...
2017.0  0              13
        Y               8
2018.0  N              51
        0               1
        Y               1
Name: Fatality, Length: 623, dtype: int64